<%- include ("../../views/partials/admin/header")%>
<style>
     .maindiv {
    height: 100vh; /* full viewport height */
    display: flex;
    align-items: center; /* vertical centering */
    justify-content: center; /* horizontal centering */
  }
</style>
 
<div class="container-fluid py-4 d-flex justify-content-center align-items-center">
    <h1>Welcome Admin</h1>
  </div>
  
<%- include ("../../views/partials/admin/footer")%>
 