<%- include ("../../views/partials/admin/header")%>
<link rel="stylesheet" href="/css/pageerror.css">
<div class="error-page">
    <div class="error-container">
        <h1>Oops!</h1>
        <h2>Something went wrong.</h2>
        <p>We're sorry, but an error has occurred. Please try again later.</p>
        <a href="/admin/dashboard" class="btn">Return to Dashboard</a>
    </div>
</div>
<%- include ("../../views/partials/admin/footer")%>