 
 <link rel="stylesheet" href="/css/forgotPassword.css">
 
<div class="main">
    <div class="email-verify-container">
        <div class="email-verify-box">
          <h2 class="email-verify-title">Verify Your Email</h2>
          <h4  id="errorMsg" style="color: red;"></h4>
          <form class="email-verify-form" method="POST" action="/forgot-Email-Valid" onsubmit="return validation()" >
            <input type="email" id="email" class="email-verify-input" placeholder="Enter your email" name="email">
            <button type="submit" class="email-verify-button">Verify</button>
          </form>
        </div>
    </div>

</div>

<script>
function validation(){
    const email=document.getElementById('email').value.trim()
    const emailRegex=/^[^\s@]+@[^\s@]+\.[^\s@]+$/
    document.getElementById('errorMsg').innerHTML=""
    if(email===""){
        document.getElementById('errorMsg').innerHTML="email feild is required"
        return false

    }
    if(!emailRegex.test(email)){
        document.getElementById('errorMsg').innerHTML="please enter valid email"
        return false
    }

    sessionStorage.setItem("forgotEmail",email)
    return true

}  


</script>

 